@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}

/* Variables colores */
@font-face {
    font-family: 'Quicksand';
    src: url('../Fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
@font-face {
    font-family: 'Raleway';
    src: url('../Fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
:root{
    --menutext: #f7f7f7;
    --border: #848483;
    --texttitle:#222324;
    --firstcolor: #1A237E;
    --secondcolor: #1976D2;
    --one:#ede7f6;
    --two: #d1c4e9;
    --font_title: 'Quicksand', sans-serif;
    --font_others: 'Raleway', sans-serif;
}

/* Scrollbar, barrar para bajar o subir dentro de la página */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--secondcolor);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--secondcolor);
}
body{
    overflow-x: hidden;
    user-select: none;
}
/* Configuración Nav */
nav{
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color:var(--firstcolor); 
}
.Nav_container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.Nav_logo, .Nav_input{
    display: none;
}
.Nav_logo img{
    height: 50px;
    margin-bottom: 22px;
}
.Nav_menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}
label.Logo{
    font-family: var(--font_title);
    font-size: 35px;
    font-weight: 900;
    color: var(--menutext);
    padding: 0 10px;
    line-height: 80px;
    max-width: auto;
}
nav ul{
    text-decoration: none;
}
nav li{
    display: inline-block;
    font-family: var(--font_others);
    margin-right: 15px;
}
nav a{
    color:var(--menutext);
    font-size: 22px;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;  
}
a:hover{
    color: var(--border);
    text-decoration: none;
}

@media (max-width: 760px){
    .Nav_logo{
        display: block;
        cursor: pointer;
    }
    .Nav_menu{
        position:fixed;
        top: 80px;
        bottom: 0;
        background: var(--firstcolor);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
    nav li{
        display: flex;
    }
    .Nav_input:checked + .Nav_menu{
        clip-path: circle(100% at center);
    }
    label.Logo{
        font-family: var(--font_title);
        font-size: 30px;
        margin-left: -10px;
        transition: .3s;
    }
    .Nav_items{
        margin-bottom: 40px;
    }
}

 /* Masthead */
 .General{
     width: 100%;
     max-width: auto;
 }
.Title {
    font-family: var(--font_title);
    font-size: 120px;
    color: var(--texttitle);
    padding: 196px 0px 0px 100px;
}
.Slogan {
    font-family: var(--font_others);
    font-size: 35px;
    color: var(--border);
    margin: -5px 0px 0px 100px;
}
.Button{
    background: var(--firstcolor);
    display: block;
    font-family: var(--font_title);
    font-size: 18px;
    text-decoration: none;
    margin: 22px 0px 0px 100px;
    text-align: center;
    padding: 16px 12px;
    width: 125px;
    outline: none;
    color: var(--menutext);
    border-radius: 50px;
    transition: 0.25s;
}
.Button:hover{
    color: var(--border);
    text-decoration: none;
}
.img1{
    width: 443px;
    height: 442px;
    margin: -320px 0px 0px 760px;
    z-index: -1;
    outline: none;
}
.Bead{
    z-index: -3;
    margin: -635px 0px 0px 1012px;
    border-radius: 100% 0% 0.1px 100% / 100% 100% 25% 25% ;
    background: linear-gradient(var(--firstcolor), var(--secondcolor));
    width: 344px;
    height: 553px;
}
.Bead2{
    z-index: -5;
    margin: -70px 0px 0px -20px;
    border-radius:0% 100% 34% 66% / 72% 48% 52% 28%;
    background: linear-gradient(var(--secondcolor), var(--firstcolor));
    width: 322px;
    height: 321px;
}

@media (max-width: 1366px){
    .Bead2{
        margin: -70px 0px 0px -20px;
        width: 322px;
        height: 321px;
    }
    .Bead{
        margin: -635px 0px 0px 1012px;
        width: 344px;
        height: 553px;
    }
    .img1{
        width: 443px;
        height: 442px;
        margin: -320px 0px 0px 760px;
    }
}

@media (max-width: 360px) {
    .Bead2{
        display: none;
    }
    .Title{
        font-size: 100px;
        margin-left: -60px;
    }
    .Slogan{
        font-size: 24px;
        margin-left: 45px;
    }
    .Button{
        font-size: 16px;
        margin: 10px 0px 0px 45px;
        padding: 14px 10px;
        width: 120px;
    }
    .img1{
        width: 263px;
        height: 262px;
        margin: 40px 0px 0px 140px;
    }
    .Bead{
        margin: -240px 0px 0px 221px;
        width: 230px;
        height: 393px;
    }
}

/* We */
.Section_We{
    padding: 315px 0px 25px 0px;
    z-index: 2;
    margin-top: 10px;

}
.Container{
    width: 100%;
    margin-top: -470px;
}
.Slider-content{
    margin-top: -100px;
}
.Slider-content img {
    margin-left: 220px;
    margin-top: -18.4rem;
}
.Slider-content h1 b{
    font-family: var(--font_title);
    font-size: 80px;
    color: var(--textitle);
    position: relative;
}
.Slider-content h1{
    font-family: var(--font_title);
    font-size: 70px;
    color: var(--texttitle  );
    position: relative;
    padding-bottom: 0px ;
    margin-top: 280px;
    text-align: center;
}
.Text-we{
    font-family: var(--font_others);
    font-size: 22.5px;
    color: var(--border);
    width: 500px;
    margin-top: 4.6rem;
    margin-left: 720px;
    padding-top: 0px;
}
.Us-img{
    width: 443px;
    height: 442px;
    margin: -300px -270px -100px;
    z-index: -1;
    outline: none;
}
@media (max-width: 360px) {
    .Slider-content h1 b{
        font-size: 60px;
        padding-top: -1000px;
    }
}


/* Services */
#Services{
    padding: 35px 0px 25px 0px;
    z-index: 3;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.SContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
}
.Slider-box{
    width: 250px;
    height: 300px;
    background-color: var(--secondcolor);
    border-radius: 12px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0px 10px 0px 10px;
}
img{
    height: 100px;
    max-height: 100%;
    max-width: 100%;
    margin-top: 25px;
}
.Details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}
.Details p{
    font-family: var(--font_title);
    font-weight: bold;
    color: var(--menutext);
    text-align: center;
    margin-top: 20px;

}
.Stext{
    font-family: var(--font_title);
    font-size: 80px;
    color: var(--texttitle);
    position: relative;
    text-align: center;
    margin-top: 90px;
}

/* Contacts */
footer{
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    background: var(--firstcolor);
    height: 100%;
    width: 100%;
    font-family: var(--font_title);
    padding-top: -1090px;
    padding-bottom: 25px;
    color: var(--firstcolor);
    max-height: auto;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: var(--menutext);
}
.footer-content p{
    max-width: 500px;
    margin: 5px auto;
    line-height: 28px;
    font-size: 16px;
    color: var(--menutext);
}
.footer-content p a{
    text-decoration: none;
    color: var(--menutext);
}
.footer-content p a:hover{
    text-decoration: none;
    color: var(--border);
}
.Wave{
    margin-bottom: -10px;
    width: 100%;
    height: 100%;
    display: relative;
    max-height: auto;
    z-index: -9;
}
