*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* Variables Colores */
@font-face {
    font-family: 'Quicksand';
    src: url('../../Fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
@font-face {
    font-family: 'Raleway';
    src: url('../../Fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
:root{
    --menutext: #f7f7f7;
    --border: #848483;
    --texttitle:#222324;
    --firstcolor: #1A237E;
    --secondcolor: #1976D2;
    --one:#ede7f6;
    --two: #d1c4e9;
    --font_title: 'Quicksand';
    --font_others: 'Raleway';
}
.container{
	height: 100vh;
	width: 200vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Title{
	font-family: var(--font_title);
	text-align: center;
	margin-bottom: 15px;
}
.Zaiko{
	margin-right: 60px;
	margin-bottom: 100px;
}
.login-content{
	margin-left: 60px;
}
.Title2 {
    font-family: var(--font_title);
    font-size: 100px;
    color: var(--firstcolor);
}
.Slogan {
    font-family: var(--font_title);
    font-size: 30px;
    color: var(--border);
}
.img{
	display:block;
margin:auto;
}
body{
    overflow-x: hidden;
    user-select: none;
	font-family: var(--font_title);
	justify-items: center;
}

form{
	width: 360px;
}

.login-content img{
	height: 100px;
	display: flex;
}

.login-content h2{
	color: var(--texttitle);
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid var(--border);
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: var(--menutext);
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--border);
	font-size: 18px;
	transition: .3s;
	font-family: var(--font_title);
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: var(--firstcolor);
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: var(--firstcolor);
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: var(--texttitle);
	font-family: var(--font_title);
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: var(--firstcolor);
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right,var(--firstcolor) , var(--firstcolor),var(--firstcolor));
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: var(--font_title);
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

.Lost{
	font-family: var(--font_title);
}
@media screen and (max-width: 1300px) {
	.container{
		width: 196vh;
	}
}
@media screen and (max-width: 1250px) {
	.container{
		width: 188.5vh;
	}
}
@media screen and (max-width: 1200px) {
	.container{
		width: 181vh;
	}
}
@media screen and (max-width: 1150px) {
	.container{
		width: 175.6vh;
	}
}
@media screen and (max-width: 1100px) {
	.container{
		width: 167.9vh;
	}
}
@media screen and (max-width: 1050px) {
	.container{
		width: 160.4vh;
	}
}
@media screen and (max-width: 1000px) {
	.container{
		width: 152.7vh;
	}
}
@media screen and (max-width: 990px) {
	.Title2{
		font-size: 80px;
	}
	.Slogan{
		font-size: 30px;
	}
	.container{
		width: 151.4vh;
	}
	.Zaiko{
		display: none;
	}
}
@media screen and (max-width: 950px) {
	.container{
		width: 145vh;
	}
}
@media screen and (max-width: 900px) {
	.container{
		width: 137.4vh;
	}
}
@media screen and (max-width: 850px) {
	.container{
		width: 129.7vh;
	}
}
@media screen and (max-width: 800px) {
	.container{
		width: 122.1vh;
	}
}
@media screen and (max-width: 750px) {
	.container{
		width: 114.5vh;
	}
}
@media screen and (max-width: 700px) {
	.container{
		width: 105.5vh;
	}
}
@media screen and (max-width: 650px) {
	.container{
		width: 98vh;
	}
}
@media screen and (max-width: 600px) {
	.container{
		width: 90.4vh;
	}
}
@media screen and (max-width: 550px) {
	.container{
		width: 82.9vh;
	}
}
@media screen and (max-width: 500px) {
	.container{
		width: 75.4vh;
	}
}
@media screen and (max-width: 450px) {
	.container{
		width: 67.8vh;
	}
}
@media screen and (max-width: 400px) {
	.container{
		width: 60.3vh;
	}
}
@media screen and (max-width: 350px) {
	.container{
		width: 52.7vh;
	}
}
